<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuh.canvaslearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DrawColorViewActivity" />
        <activity android:name=".activity.DrawPointViewActivity" />
        <activity android:name=".activity.DrawLineViewActivity" />
        <activity android:name=".activity.DrawRectViewActivity" />
        <activity android:name=".activity.DrawRoundCornerRectViewActivity" />
        <activity android:name=".activity.DrawOvalViewActivity" />
        <activity android:name=".activity.DrawCircleViewActivity" />
        <activity android:name=".activity.DrawArcViewActivity" />
        <activity android:name=".activity.PaintUseLearnViewActivity" />
        <activity android:name=".activity.DrawPieViewActivity" />
        <activity android:name=".activity.CanvasTranslateViewActivity" />
        <activity android:name=".activity.CanvasScaleViewActivity" />
        <activity android:name=".activity.CanvasScaleViewOfForCircleActivity" />
        <activity android:name=".activity.CanvasRotateViewActivity" />
        <activity android:name=".activity.CanvasRotateViewOfCircleActivity" />
        <activity android:name=".activity.CanvasSkewViewActivity" />
        <activity android:name=".activity.DrawPictureViewActivity" />
        <activity android:name=".activity.DrawBitmapViewActivity" />
        <activity android:name=".activity.DrawBitmapViewOfCheckViewActivity" />
        <activity android:name=".activity.DrawTextViewFirstKindActivity" />
        <activity android:name=".activity.DrawTextViewSecondKindActivity" />
        <activity android:name=".activity.PathUseDetailActivity" />
        <activity android:name=".activity.PathUseDetailFirstGroupActivity" />
        <activity android:name=".activity.PathUseDetailAddXxxActivity" />
        <activity android:name=".activity.PathUseDetailAddPathActivity" />
        <activity android:name=".activity.PathUseDetailAddArcActivity" />
        <activity android:name=".activity.PathUseDetailArcToActivity" />
        <activity android:name=".activity.PathUseDetailOffsetActivity" />
        <activity android:name=".activity.PathUseDetailRadarViewActivity" />
        <activity android:name=".activity.PathUseDetailBazierActivity" />
        <activity android:name=".activity.PathUseDetailBazierSecondActivity" />
        <activity android:name=".activity.PathUseDetailBazierThirdActivity" />
        <activity android:name=".activity.PathUseDetailBazierHeartViewActivity" />
        <activity android:name=".activity.PathUseDetailFillTypeActivity" />
        <activity android:name=".activity.PathUseDetailFillType2Activity" />
        <activity android:name=".activity.PathUseDetailBooleanOperationActivity" />
        <activity android:name=".activity.PathUseDetailComputeBoundsActivity"></activity>
    </application>

</manifest>