<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuh.canvaslearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawColorViewActivity" />
        <activity android:name=".DrawPointViewActivity" />
        <activity android:name=".DrawLineViewActivity" />
        <activity android:name=".DrawRectViewActivity" />
        <activity android:name=".DrawRoundCornerRectViewActivity" />
        <activity android:name=".DrawOvalViewActivity" />
        <activity android:name=".DrawCircleViewActivity" />
        <activity android:name=".DrawArcViewActivity" />
        <activity android:name=".PaintUseLearnViewActivity" />
        <activity android:name=".DrawPieViewActivity" />
        <activity android:name=".CanvasTranslateViewActivity" />
        <activity android:name=".CanvasScaleViewActivity" />
        <activity android:name=".CanvasScaleViewOfForCircleActivity" />
        <activity android:name=".CanvasRotateViewActivity" />
        <activity android:name=".CanvasRotateViewOfCircleActivity" />
        <activity android:name=".CanvasSkewViewActivity" />
        <activity android:name=".DrawPictureViewActivity"></activity>
    </application>

</manifest>